[trust_threshold]
numerator = "1"
denominator = "3"

[trusting_period]
secs = 864000
nanos = 0

[clock_drift]
secs = 5
nanos = 0

[rpc_config]
listen_addr = "127.0.0.1:8888"

    [rpc_config.request_timeout]
    secs = 60
    nanos = 0

[[light_clients]]
address = "tcp://127.0.0.1:26657"
peer_id = "BADFADAD0BEFEEDC0C0ADEADBEEFC0FFEEFACADE"
db_path = "./lightstore/BADFADAD0BEFEEDC0C0ADEADBEEFC0FFEEFACADE"

[[light_clients]]
address = "tcp://127.0.0.1:26657"
peer_id = "CEFEEDBADFADAD0C0CEEFACADE0ADEADBEEFC0FF"
db_path = "./lightstore/CEFEEDBADFADAD0C0CEEFACADE0ADEADBEEFC0FF"
