# Example KMS configuration file
#
# Copy this to 'tmkms.toml' and edit for your own purposes

# Information about Tenderment blockchain networks this KMS services
[[chain]]
id = "cosmoshub"
key_format = { type = "bech32", account_key_prefix = "cosmospub", consensus_key_prefix = "cosmosvalconspub" }

# Validator configuration
[[validator]]
addr = "tcp://example1.example.com:26658" # or "unix:///path/to/socket"
chain_id = "cosmoshub"
reconnect = true # true is the default
secret_key = "path/to/secret_connection.key"

# Provider configuration
[[providers.softsign]]
chain_ids = ["cosmoshub"]
path = "path/to/signing.key"

[[providers.yubihsm]]
adapter = { type = "usb" }
auth = { key = 1, password = "password" } # Default YubiHSM admin credentials. Change ASAP!
keys = [{ chain_ids = ["cosmoshub"], key = 1 }]
#serial_number = "0123456789" # identify serial number of a specific YubiHSM to connect to

[[providers.ledgertm]]
chain_ids = ["cosmoshub"]
