[package]
name = "tendermint-rpc"
version = "0.15.0"
authors = ["Alexander Simmerl <a.simmerl@gmail.com>"]
edition = "2018"
license = "Apache-2.0"
homepage   = "https://www.tendermint.com/"
repository = "https://github.com/informalsystems/tendermint-rs"
readme     = "README.md"

description = """
    tenndermint-rpc contains the core types returned by a Tendermint node's RPC endpoint.
    All networking related features are feature guarded to keep the dependencies small in
    cases where only the core types are needed.
    """

[package.metadata.docs.rs]
all-features = true

[features]
default = []
client = [ "async-tungstenite", "futures", "http", "hyper", "tokio" ]
secp256k1 = ["tendermint/secp256k1"]

[dependencies]
bytes = "0.5"
getrandom = "0.1"
serde = { version = "1", features = [ "derive" ] }
serde_bytes = "0.11"
serde_json = "1"
tendermint = { version = "0.15.0", path = "../tendermint" }
thiserror = "1"
uuid = { version = "0.8", default-features = false }

async-tungstenite = { version="0.5", features = ["tokio-runtime"], optional = true }
futures = { version = "0.3", optional = true }
http = { version = "0.2", optional = true }
hyper = { version = "0.13", optional = true }
tokio = { version = "0.2", features = ["macros"], optional = true }
