[package]
name = "kvstore-test"
version = "0.1.0"
authors = ["Greg Szabo <greg@philosobear.com>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]

[dev-dependencies]
futures = "0.3"
tendermint = { version = "0.17.0-rc3", path = "../../tendermint" }
tendermint-rpc = { version = "0.17.0-rc3", path = "../../rpc", features = [ "http-client", "websocket-client" ] }
tokio = { version = "0.2", features = [ "macros" ] }

[build-dependencies]
shiplift = { version = "0.6", git = "https://github.com/softprops/shiplift", branch = "master", optional = true }
futures = { version = "0.3", optional = true }
tokio = { version = "0.2", features = ["macros"], optional = true }

[features]
docker = ['shiplift', 'futures', 'tokio/macros']
